body {
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 97vw;
    gap: 10px 10px;
}

#container button {
    cursor: pointer;
    border-radius: 15px;
    height: 3em;
    background-color: rgb(126, 187, 240);
    font-family: cursive;
    box-shadow: 0 6px #999;
    border: none;
    text-align: center;
    outline: none;
}

#container button:hover {
    filter: brightness(1.2);
}

#container button:active {
    filter: brightness(1.2);
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

#SearchBodyContainer {
    padding: 5px;
    padding-bottom: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-rows: 6vh 6vh auto auto;
}

#title {
    grid-area: 1/1/2/2;
    background: linear-gradient(to right,lightblue,blue);
    -webkit-background-clip: text;
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#datetime {
    display: flex;
    flex-direction: column;
    
}
.spaceBetweenDates{
    margin-bottom: 10px;
}
#datetime div {
    align-items: center;
    display: flex;
    gap: 0.3rem;
}

#Search {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 10px;

}

#searchbar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    outline: none;
    width: 60%;
    height: 3rem;
    background-color: rgb(221, 221, 221);
}

#Filter {
    margin-top: 10px;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
}

#commandspopup {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#inlineHelp {
    height: 100%;
    display: none;
    background-color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 400px;
    width: 400px;
}

#advancedOptionsButton {
    width: 150px;
    align-self: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: start;
    justify-content: start;
}

#advancedOptions {
    grid-area: 3/1/4/2;
}

#Results {
    background-color: grey;
    height: 82%;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    
}





#buttons {
    display: flex;
    flex-direction: column;
    
}
#buttons div{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
#searchOptions {
    display: flex;
    flex-direction: column;
}
#searchOptions div{
    align-items: center;
    display: flex;
    gap: 0.3rem;
}
#resTable {
    border: 2px solid black;
    max-height:  86.5%;
    margin: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: scroll;
}
input[type="checkbox"] {
    margin-left: 0;
    float: left;
    border-radius: 20%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    accent-color: rgb(126, 187, 240);
}

label {
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="checkbox"]:hover {
    filter: brightness(1);
}



tbody tr:nth-child(even){
    background-color: lightblue;
    border-color:black;
}
tbody tr:nth-child(odd){
    background-color: whitesmoke;
    border-color:black;
}

tbody tr:nth-child(even):hover, tbody tr:nth-child(odd):hover {
    filter: brightness(0.9);
}
table {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: white;
    border: 3px solid black;
    z-index: 1;
}
tr {
    padding:5px;
    border-bottom:3px solid black ;
    border-top: 3px solid black;
}
td {
    border-inline: 3px solid black ;
    padding: 5px;
}